.contactText
{
    padding-top:2%;
    padding-right:16%;
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    color: #f48c06;
    text-align: center;
}


.contactSection
{
    padding-top:5%;
    padding-right:15%
}

.contactMethod
{
    font-family: 'Pacifico', cursive;
    font-size: 22px;
    color: #e85d04;
    text-decoration: none;
}

.contactInfo
{
    font-family:'Exo';
    font-size:20px;
    text-decoration: none;
    color: #ffba08;
}

.contactInfo:hover
{
    color: #e85d04;
}