@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body
{
    background-image: url("..redvelvet1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}

.navbar-nav
{
    margin-left: -30px;
}
.nav-link
{
    text-align: left;
    margin-top: 40px;
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    color: #e85d04;
    text-decoration:none;
}

.nav-link:hover, .nav-link:focus
{
    color: #ffba08;
}

.subCategory
{
    font-size:16px;
    margin-left:100px;
}

.activeSub
{
    color: #ffba08 !important;
    font-size: 25px;
    margin-left:100px;
}


.custom-toggler.navbar-toggler {
    border-color: #e85d04;
}

/* Changing the colour of the hamburger toggle icon */
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,186,8, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.active
{
    color: #ffba08 !important;
    font-size: 25px;
}

.footer
{
    position:fixed;
    bottom:0;
    left:50%;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #e85d04;
    font-size: 12px;
}